body {
    background-color: black;
    color: white;
    padding: 10px;
}

p {
    margin: 10px;
}

.leftSpan {
    margin-right: 10px;
}

.rightSpan {
    margin-left: 10px;
}

.initialHide {
    visibility :hidden;
}

.dashHead {
    
}

#prompt {
    
}

#shuffler {
    

}